html, body {
  height: 100%;
  font-size: 14px;
}

a, a:visited {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.centered-panel {
  max-width: 960px;
  margin: 0 auto;
}

.backdrop {
  background-position: center;
  background-size: cover;
}

.backdrop--people {
  background-image: url("http://dy3erx8o0a6nh.cloudfront.net/images/je_cover.jpg");
}

.cta {
  font-family: serif;
  font-size: 4.2em;
  text-align: center;
}

.cta--light {
  color: #fff;
}

small {
  font-size: 1rem;
}

.centered {
  text-align: center;
}

.important {
  font-weight: bold;
}

.padded-e {
  padding-right: 1em;
}
.padded-ew {
  padding-left: 1em;
  padding-right: 1em;
}

//as a general rule, placeholders don't get transformed
::-webkit-input-placeholder {
  text-transform: initial;
}
:-moz-placeholder {
  text-transform: initial;
}
::-moz-placeholder {
  text-transform: initial;
}
:-ms-input-placeholder {
  text-transform: initial;
}


.route-area {
  background-color: #f8f8f8;
}
