.header {
}

.header-content {
  padding: .8em 0 0.5em;
  background-color: #ce0b10;
}

.header-sub {
  background-color: #fff;
  padding: 0.7em 0;
}

.theme-transparent {
  background-color: transparent;
}

.logo-image {
  width: 205px;
}

