//COLORS
$transparent: rgba(255, 255, 255, 0);
$white: #FFFFFF;
$black: #000000;
$red: #C23250;
$red-background: #F7E9E9;
$red-border: #E2D2D2;
$red-text: #b89999;
$grey-button: #F2F2F2;
$grey-borders: #D8D9D8;
$active-row-bg: #F3F5ED;
$placeholder: #c8c8c8;
